:root {
    --bg-main: #0f0f0f;
    --text-main: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: var(--bg-main);
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.2);
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 6rem;
    text-decoration: none;
}

.navbar-menu li a{
    color: var(--text-main);
    text-decoration: none;
}

.navbar-menu li a:hover{
    color: gray;
    text-decoration: underline;
}